<!-- TOP PART OF LANDING PAGE -->
<div [style.height.px]="height" class="row justify-center">
  <div class="content-container">
    <div class="justify-center row">
      <div class="vertical-align padding-8">
        <div class="justify-center row">
          <h1 class="team-name">RewChain - Diplomový projekt</h1>
        </div>

        <div class="justify-center row"></div>

        <div class="justify-center row">
          <p class="landing-text"></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="margin-top: 100px"></div>
